<!DOCTYPE html>
<html lang="fr" style="scroll-behavior: smooth;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/luminous-basic.min.css">
</head>
<body>

  <header class="navbar">
    <div class="nav-container">
      <a href="#home" class="nav-logo">{{ site.title }}</a>
      <nav class="nav-links">
        <a href="#about">À propos</a>
        <a href="#experience">Stages</a>
        <a href="#portfolio">Projets</a>
        <a href="#formation">Formation</a>
        <a href="mailto:{{ site.email }}" class="nav-btn-contact">Contact</a>
      </nav>
    </div>
  </header>

  {{ content }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/luminous-lightbox/2.3.2/Luminous.min.js"></script>
  <script>new LuminousGallery(document.querySelectorAll(".zoom"));</script>
</body>
</html>